### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/logs/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Maven
log/
target/

#IMAGES
/images/

# Google Drive
**/Icon**
#src/main/resources/static/
src/main/resources/templates/

# PDF files
.pdf

